{% extends 'base.html' %}

{% block content %}

  <h2 class="mt-5">Kunden</h2>
  
  <table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">{{ form.street.label }}</th>
            <th scope="col">{{ form.plz.label }}</th>
            <th scope="col">{{ form.city.label }}</th>
            <th scope="col">{{ form.email.label }}</th>
            <th scope="col">{{ form.phone.label }}</th>
        </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr class="hoverclick" href="#">
            <td> {{ customer.lastname }}, {{ customer.firstname }} </td>
            <td> {{ customer.street }} </td>
            <td> {{ customer.plz }} </td>
            <td> {{ customer.city }} </td>
            <td> {{ customer.mail }} </td>
            <td> {{ customer.phone }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}