  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <div class="nav navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Aufträge</a>
          <a class="nav-link active" aria-current="page" href="{{ url_for('customer', page=1) }}">Kunden</a>
          <a class="nav-link active" aria-current="page" href="{{ url_for('racket', page=1) }}">Schläger</a>
          <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a>
          <a class="nav-link active" aria-current="page" href="{{ url_for('signup') }}">Signup</a>
        </div>
      </div>
    </div>
  </nav>