{% extends 'base.html' %}


{% block content %}

  <div class="container">
    <h1 class="title">{{ racket.manufacturer }} {{ racket.model }} </h1>
    <ul>
      <li>
        <span class="field-name">{{ form.template.label }}: </span>
        <span class="field-value">{{ racket.template }}</span>
      </li>
      <li>
        <span class="field-name">{{ form.skips_head.label }}:</span>
        <span class="field-value">{{ racket.skips_head }}</span>
      </li>
      <li>
        <span class="field-name">{{ form.skips_tail.label }}:</span>
        <span class="field-value">{{ racket.skips_tail }}</span>
      </li>
      <li>
        <span class="field-name">{{ form.note.label }}:</span>
        <span class="field-value">{{ racket.note }}</span>
      </li>
    </ul>
  </div>

<a class="btn btn-primary" role="button" href="{{ url_for('racket') }}">zurück</a>

{% endblock %}